.card{
    border: 5px solid whitesmoke;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    height: 20em;
    width: 60em;
    margin: 5px;
    /* font-size: larger; */
}