.nav {
    display: flex;
    background-color: teal;
    flex-direction: column;
    width: 25rem;
    height: 100vh;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}